body {
    background: black;
}

.hero-bannerAB img {
    height: auto;
    max-width: 100%;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.andrew {
    border: 5px rgb(146, 136, 0) solid;
    padding: 10px;
    margin: 5px;
    background: rgb(177, 160, 11);
}

.ashton {
    border: 5px rgba(97, 5, 116, 0.877) solid;
    padding: 10px;
    margin: 5px;
    background: rgb(121, 8, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brenley {
    border: 5px rgb(230, 0, 0) solid;
    padding: 10px;
    margin: 5px;
    background: rgb(228, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    height: 350px;
    display: flex;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}
