body {
    background: url(../assets/StarBack.png);
}

.hero-banner img {
    height: auto;
    max-width: 100%;
}

.flex-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.createForm {
    border: 3px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
}

.createForm input,
button {
    max-width: 400px;
    min-width: 250px;
}

.box {
    display: flex;
    justify-content: center;
    background: black;
}

.box img {
    width: 400px;
}

h2 {
    font-size: 3px;
}

.produce-list {
    border: red solid 5px;
    width: 1fr;
    min-height: 450px;
    background: #ea2160;
    font-size: 50px;
}
