body {
    background: url(../assets/StarBack.png);
}

.hero-banner img {
    height: auto;
    max-width: 100%;
    border: 3px solid white;
}

.flex-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.createForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.createForm input {
    max-width: 400px;
    min-width: 250px;
}

input {
    padding: 15px;
    margin: 5px;
    font-size: 20px;
}

#submit-btn {
    height: 35px;
    width: 250px;
    font-size: 20px;
    background-color: #019647;
    color: white;
    margin-top: 10px;
}

/* .produce {
    display: flex;
    justify-content: center;
}

.quantity {
    display: flex;
    justify-content: center;
}

.expiration {
    display: flex;
    justify-content: center;
} */

.box {
    display: flex;
    justify-content: center;
    background: black;
}

.box img {
    width: 400px;
}

h2 {
    font-size: 3px;
}

.produce-list {
    border: red solid 5px;
    width: 1fr;
    min-height: 450px;
    background: #c9d309;
    font-size: 50px;
    font-weight: bolder;
}
